<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GTranslatorAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GTranslatorAPI.Properties.Settings>
            <setting name="GTranslatorAPIURL" serializeAs="String">
                <value>https://translate.googleapis.com/translate_a/single?client=gtx&amp;sl={srcl}&amp;tl={tgtl}&amp;dt=t&amp;q={txt}</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36</value>
            </setting>
            <setting name="NetworkQueryTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ParallelizeTranslationOfSegments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitStringBeforeTranslate" serializeAs="String">
                <value>True</value>
            </setting>
        </GTranslatorAPI.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
